<%inherit file="/homepage/templates/base.htm" />

<%block name="header_menu_items">
    <li class="${ 'active' if(request.dmp_router_page == 'index') else ''}"><a href="/">Home<span class="sr-only">(current)</span></a></li>
    <li class="${ 'active' if(request.dmp_router_page == 'terms') else ''}"><a href="/homepage/terms">Terms</a></li>
    <li class="${ 'active' if(request.dmp_router_page == 'faq') else ''}"><a href="/homepage/faq">FAQ</a></li>
    <li class="${ 'active' if(request.dmp_router_page == 'about') else ''}"><a href="/homepage/about">About</a></li>
    <li class="${ 'active' if(request.dmp_router_page == 'contact') else ''}"><a href="/homepage/contact">Contact</a></li>
    <%block name="header_menu_items_extra"></%block>
</%block>

<%block name="body_right">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Recently Viewed</h3>
      </div>
      <div class="panel-body">
          <ul class="nav">
              % for p in last5products[1:6]:
                  <li><a href="/catalog/detail/${ p.id }/">${ p.name }</a></li>
              % endfor
          </ul>
      </div>
    </div>

</%block>
